@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&display=swap");

@import "sobreNosotros";

@import "galeria";

@import "noticias";

@import "navBar";

@import "footer";

* {
  margin: 0 ;
  padding: 0 ;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

h2 {
  text-align: center;
  color: white;
  background-color: black;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0%;
  box-shadow: 0 0 5px white;
}
a {
  text-decoration: none;
  display: flex;
  text-align: center;
  color: white;
}

@mixin height-width-background {
  height: 90vh;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

/*******************INICIO INDEX***************/

.header1 {

  width: 100% ;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 5px white;
  padding: 0px;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1508507282632-7ae0a31b8f62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 20px black;
}

.relleno{
  @include height-width-background;
  background-image: url(/imagenes/UN-SP14.jpg);
}

.relleno2{
  @include height-width-background;
  background-image: url(https://cdn.pixabay.com/photo/2019/06/20/17/00/cycling-4287590_960_720.jpg);
}

.boton {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	a {
		background-color: black;
		box-shadow: 0 0 5px white;
		padding: 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		&:hover {
			color: lightblue;
		}
	}
}
.article {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*****************************FIN INDEX*******************/



/****************Estilos Formulario de Contacto******************/
.contacto {
  background-color: rgb(26, 19, 19);
  color: rgb(255, 255, 255) ;
}
/************Fin Estilos Formulario de Contacto*****************/


/************MEDIA QUERIES ***********/

@media only screen and (max-width: 478px) {
  .hero {
		h1 {
			font-size: 35px;
		}
	}
  .sobrenosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .video1,
  .video2,
  .video3,
  .video4,
  .video5,
  .video6,
  iframe {
    width: 300px;
  }
  .noticias {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .noticias2 {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .tituloSN {
		h1 {
			font-size: 20px;
		}
	}
}
@media only screen and (max-width: 559px) {
  .hero {
    font-size: 40px;
  }
  .sobrenosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .video1,
  .video2,
  .video3,
  .video4,
  .video5,
  .video6,
  iframe {
    width: 479px;
  }
}
@media only screen and (max-width: 1075px) {
  .video1,
  .video2,
  .video3,
  .video4,
  .video5,
  .video6,
  iframe {
    width: 560px;
  }
  .sobrenosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
/************** FIN MEDIA QUERIES **********/
